@using PizzaAplication.Models.Domain
@using PizzaAplication.Models.ViewModels
@model PizzaViewModel;

<h2>Details for @Model.Name</h2>
<p>Price @Model.Price</p>
<p>Pizza Size : @Model.PizzaSize</p>



